logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

node_modules/

dist/
dist-ssr/
build/
out/
release/

*.local

.env
.env.*.local
.DS_Store
*.sw?

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*~

.cache/
