#landing-page {
    overflow-x: hidden;
    overflow-y: hidden;
    background:transparent ;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background:transparent;
  user-select: none;
}


* {
  user-select: none;
}

#title {
  font-size: 4rem;
  color: white;
}

#subtitle {
  font-weight: lighter;



*, *::before, *::after {
  box-sizing: border-box;
}}

#titlebar {
  background-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}