.drag {
  -webkit-app-region: drag;
  background: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
}

.no-drag {
  -webkit-app-region: no-drag;
}

#titlebar button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0;
  margin: 0;
}

#titlebar button#minimize,
#titlebar button#maximize,
#titlebar button#close {
  width: 50px;
  height: 36px;
  cursor: default;
  border-radius: 0;
  transition: background-color 0.2s ease;
}

#titlebar button#sidebar, button#logo {
  cursor: pointer;
}

#titlebar button#sidebar {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

#titlebar button#calendar {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

#titlebar button#logo {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

#cd-icon {
  width: 18px;
  height: 18px;
}


#titlebar button#minimize:hover,
#titlebar button#maximize:hover,
#titlebar button#sidebar:hover,
#titlebar button#logo:hover,
#titlebar button#calendar:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

#titlebar button#close:hover {
  background-color: rgba(255, 4, 4, 0.35);
}

.sidebar-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 100%;
  height: 100%;
}
.calendar-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.icon-hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.icon-visible {
  opacity: 1;
  transform: scale(1);
}