@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;






.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-dm {
  font-family: 'DM Sans', sans-serif;
}

.font-mp {
  font-family: 'Maven Pro', sans-serif;
}

.font-scp {
  font-family: 'Source Code Pro', sans-serif;
}


.font-system {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.font-serif {
  font-family: 'PT Serif', serif
}
.font-sans {
  font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, 'Segoe UI', sans-serif
}

.font-mono {
  font-family: 'Roboto Mono', monospace
}

.font-sans-serif {
  font-family: Calibri, sans-serif
}




html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none  !important;
  border-color: none !important; 
}

